@import 'tailwindcss';

@theme {
  /* Light Mode Color Scheme */
  --color-l-background: #ffffff;
  --color-l-surface: #e1ffc7;
  --color-l-text: #111827;
  --color-l-muted-text: #979f90;
  --color-l-border: #a9ff5c;
  --color-l-primary: #a9ff5c;
  --color-l-secondary: #1f2b15;
  --color-l-highlight: #e1ffc7;

  /* Dark Mode Color Scheme */
  --color-d-background: #090d06;
  --color-d-surface: #1f2b15;
  --color-d-text: #f1fbe8;
  --color-d-muted-text: #979f90;
  --color-d-border: #a9ff5c;
  --color-d-primary: #a9ff5c;
  --color-d-secondary: #1f2b15;
  --color-d-highlight: #e1ffc7;
}

body {
  font-family: 'Oswald', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* This pushes footer down */
}

h1 {
  font-size: var(--text-5xl);
  line-height: var(--text-5xl--line-height);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: var(--text-4xl);
  line-height: var(--text-4xl--line-height);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-size: var(--text-3xl);
  line-height: var(--text-3xl--line-height);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 18px;
  line-height: 28px;
}

/* .range {
  width: 100%;
  appearance: none;
  height: 6px;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    var(--color-LPrimary) 0%,
    var(--color-LPrimary) 34%,
    var(--color-LSecondary) 34%,
    var(--color-LSecondary) 68% var(--color-LHighlight) 68%
      var(--color-LHighlight) 100%
  );
} */

.range {
  appearance: none;
  outline: none;
  height: 20px;
}

.range::-webkit-slider-runnable-track {
  height: 20px;
  background: var(--color-LPrimary); /* Tailwind gray-300 */
  border-radius: 9999px;
  padding: 0px 4px;
}

.range::-webkit-slider-thumb {
  appearance: none;
  height: 14px;
  width: 14px;
  background: var(--color-DBackground); /* Tailwind blue-500 */
  border-radius: 9999px;
  cursor: pointer;
  margin-top: 2px;
}
